table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 75%;
    vertical-align: middle;
}

th,
td {
    padding: 5px;
}

td {
    text-align: left;
}

tr:hover {
    background-color: chartreuse;
}